.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
virtual/
virtual*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
instance/
start.sh
.flaskenv

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
